
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit',sans-serif;
    background-color: var(--Light-gray);
}
.card-container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.main-container{
    width: 375px;
    height: 560px;
    background-color: var(--White);
    margin: 60px auto;
    border-radius: 20px;
    padding: 20px;
    transition: 300ms;
}
.main-container:hover{
    box-shadow: 10px 10px 10px;
    cursor: pointer;
    transition: 300ms;
    margin: 40px auto;
}
.imagen{
    background-image: url(images/image-qr-code.png);
    width: 325px;
    height: 310px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    animation: UpCenter 300ms none;
}


h1{
    font-size: 26px;
    color: var(--Darkblue);
    font-weight: 900;
    text-align: center;
    margin: 20px 20px;
    animation: Left 300ms none;
}
p{
    color: var(--Grayishblue);
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    margin: 30px 30px;
    animation: Right 300ms none;
}

@keyframes UpCenter{
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes Left{
    0%{
        transform: translateX(-500px);
    }
    100%{
transform: translateX(0px);
    }
}

@keyframes Right{
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0px);
    }
}